
#eligibilite{
    background-color: rgba(253, 146, 107, 0.501);
}
#suivi{
    background-color: rgba(240, 132, 0, 0.448);
}
#solution{
    background: url(images/solution2.jpg) no-repeat ;
    background-size: 100% 100%;
}
@media screen and (max-width:768px) {
    #eligibilite img,
    #suivi img{
    transform: rotate(90deg);
    margin-left: 25px;
    width: 30%;
    }
}